<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cosmetic Estore</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/images/COSMOC.svg" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

     
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="mr-auto"><img src="/static/images/COSMOC.svg" alt="" class="img-fluid"></a> 
      <h2>Glow Your <span>Face</span> with COSMOC</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#services">Store</a></li>
          <li><a class="nav-link" href="#portfolio">Upcoming Products</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about us</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="/static/assets/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Beauty Serum, Cream &amp; Cosmetics</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Established on:</strong> <span>1 May 1999</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Established by:</strong> <span>Riya Singh</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+123 456 7890</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Main City:</strong> <span>New York, USA</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>email@example.com</span></li>
              </ul>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod hic omnis sunt nihil neque voluptate odit a, 
            accusamus animi quo laborum quis dolorem, corporis id dolores cumque ducimus, vero molestiae reprehenderit 
            veritatis totam? Nobis totam, dignissimos hic iste labore expedita dolores voluptates voluptatum perspiciatis non fugiat cumque aliquam ab! Nesciunt.
          </p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">

      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="60000" data-purecounter-duration="1" class="purecounter"></span>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-award"></i>
            <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
            <p>Awards</p>
          </div>
        </div>

      </div>

    </div><!-- End Counts -->

   
    <!-- ======= Products ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Products</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <img src="/static/assets/img/product/one.jpg" class="img-fluid" alt="">
            <h3> &nbsp Lorem Ipsum</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <img src="/static/assets/img/product/two.jpg" class="img-fluid" alt="">
            <h3> &nbsp Dolor Sitema</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <img src="/static/assets/img/product/three.jpg" class="img-fluid" alt="">
            <h3> &nbsp Sed perspiciatis</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <img src="/static/assets/img/product/four.jpg" class="img-fluid" alt="">
            <h3> &nbsp Magni Dolores</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="/static/assets/img/product/five.jpg" class="img-fluid" alt="">
            <h3> &nbsp Nemo Enim</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="/static/assets/img/product/six.jpg" class="img-fluid" alt="">
            <h3> &nbsp Eiusmod Tempor</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="/static/assets/img/product/seven.jpg" class="img-fluid" alt="">
            <h3> &nbsp Midela Teren</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="/static/assets/img/product/nine.jpg" class="img-fluid" alt="">
            <h3> &nbsp Pira Neve</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="/static/assets/img/product/ten.jpg" class="img-fluid" alt="">
            <h3> &nbsp Dirada Pack</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="/static/assets/img/product/eleven.jpg" class="img-fluid" alt="">
            <h3> &nbsp Moton Ideal</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="/static/assets/img/product/twelve.jpg" class="img-fluid" alt="">
            <h3> &nbsp Verdo Park</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <img src="/static/assets/img/product/thirteen.jpg" class="img-fluid" alt="">
            <h3> &nbsp Flavor Nivelanda</h3>
          </div>
        </div>
      </div>

    </div><!-- End Interests -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Testimonials</h2>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. unde sequi repudiandae magnam veritatis obcaecati, labore ipsam optio iusto.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="/static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. unde sequi repudiandae magnam veritatis obcaecati, labore ipsam optio iusto.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="/static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. unde sequi repudiandae magnam veritatis obcaecati, labore ipsam optio iusto.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="/static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. unde sequi repudiandae magnam veritatis obcaecati, labore ipsam optio iusto.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="/static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. unde sequi repudiandae magnam veritatis obcaecati, labore ipsam optio iusto.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="/static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="owl-carousel testimonials-carousel">

      </div>

    </div><!-- End Testimonials  -->

  </section><!-- End About Section -->

    <!-- ======= Store Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Store</h2>
        <p>Check out our E-store!</p>
      </div>

      
        <div class="row">
          <div class="col-4 mx-auto text-center">
            <form class="form-inline">
              <form class="d-flex" method="GET" action="">
                <input class="form-control mx-2" name="search" type="search" placeholder="Search" aria-label="Search">
                <a class="btn btn-outline-dark text-light rounded-pill m-2" type="submit">Search</a>
              </form>
          </div>
        </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="card">
            <img class="card-img-top p-auto" src="/static/assets/img/portfolio/upco (1).jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h6 class="card-title">Eye Pallete <span> <br>&#8377 670</span></h6>
            <a href="" class="btn btn-light text-center rounded-pill cart"><i class="bi bi-cart" style="font-size:18px"></i> Add to cart</a>
          </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="card">
            <img class="card-img-top p-auto" src="/static/assets/img/portfolio/upco (2).jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h6 class="card-title">Sunscreen <span> <br>&#8377 670</span></h6>
            <a href="" class="btn btn-light text-center rounded-pill cart"><i class="bi bi-cart" style="font-size:18px"></i> Add to cart</a>
          </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="card">
            <img class="card-img-top p-auto" src="/static/assets/img/portfolio/upco (3).jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h6 class="card-title">Serum<span> <br>&#8377 670</span></h6>
            <a href="" class="btn btn-light text-center rounded-pill cart"><i class="bi bi-cart" style="font-size:18px"></i> Add to cart</a>
          </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="card">
            <img class="card-img-top p-auto" src="/static/assets/img/portfolio/upco (4).jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h6 class="card-title">Foundation <span> <br>&#8377 670</span></h6>
            <a href="" class="btn btn-light text-center rounded-pill cart"><i class="bi bi-cart" style="font-size:18px"></i> Add to cart</a>
          </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="card">
            <img class="card-img-top p-auto" src="/static/assets/img/portfolio/upco (5).jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h6 class="card-title">Crème <span> <br>&#8377 670</span></h6>
            <a href="" class="btn btn-light text-center rounded-pill cart"><i class="bi bi-cart" style="font-size:18px"></i> Add to cart</a>
          </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="card">
            <img class="card-img-top p-auto" src="/static/assets/img/portfolio/upco (6).jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h6 class="card-title">Loose powder <span> <br>&#8377 670</span></h6>
            <a href="" class="btn btn-light text-center rounded-pill cart"><i class="bi bi-cart" style="font-size:18px"></i> Add to cart</a>
          </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Upcoming Products Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Upcoming Products</h2>
        <p>Aren't you excited?</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-makeup">Makeup</li>
            <li data-filter=".filter-cremes">Crèmes</li>
            <li data-filter=".filter-product">Product</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-makeup">
          <div class="portfolio-wrap">
            <img src="/static/assets/img/portfolio/upco (1).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Makeup 1</h4>
              <p>Makeup</p>
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/upco (1).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cremes">
          <div class="portfolio-wrap">
            <img src="/static/assets/img/portfolio/upco (2).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Crèmes 1</h4>
              <p>Crèmes</p>
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/upco (2).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cremes">
          <div class="portfolio-wrap">
            <img src="/static/assets/img/portfolio/upco (3).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Crèmes 2</h4>
              <p>Crèmes</p>
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/upco (3).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-product">
          <div class="portfolio-wrap">
            <img src="/static/assets/img/portfolio/upco (4).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Product 2</h4>
              <p>product</p>
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/upco (4).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-cremes">
          <div class="portfolio-wrap">
            <img src="/static/assets/img/portfolio/upco (5).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Crèmes 2</h4>
              <p>Crèmes</p>
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/upco (5).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-makeup">
          <div class="portfolio-wrap">
            <img src="/static/assets/img/portfolio/upco (6).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>makeup 3</h4>
              <p>makeup</p>
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/upco (6).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-product">
          <div class="portfolio-wrap">
            <img src="/static/assets/img/portfolio/upco (7).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>makeup 1</h4>
              <p>makeup</p>
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/upco (7).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-makeup">
          <div class="portfolio-wrap">
            <img src="/static/assets/img/portfolio/upco (8).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>makeup 3</h4>
              <p>makeup</p>
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/upco (8).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-product">
          <div class="portfolio-wrap">
            <img src="/static/assets/img/portfolio/upco (9).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>product 3</h4>
              <p>product</p>
              <div class="portfolio-links">
                <a href="/static/assets/img/portfolio/upco (9).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>contact@example.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+1 5589 55488 55</p>
          </div>
        </div>
      </div>

      <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>

    </div>
  </section><!-- End Contact Section -->



  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>