
*{
    box-sizing: border-box;
}
body
{
height: 100vh;
/* background-image: url(/static/images/background.jpg);
background-position: center; */
background: linear-gradient(180deg, #8F88BB 0%, #D8DAF0 50.87%, #A7A9E6 100%);
color: #000;
}
/* .header-container{
background: url("/static/images/bg.png");
background-repeat: no-repeat;
background-position: right;
background-size: contain;
height: 70vh;
} */
.pic{
background: url("/static/images/bg.png");
background-repeat: no-repeat;
background-size: contain;
}
nav{
filter: drop-shadow(0px 5px 3px rgb(56, 31, 167));
}

.nav-link{
color: #000;
font-family: SirinStencil;
font-size: 18px;
}
.head{
font-family: 'Stick No Bills', sans-serif;
font-size: 96px;
font-style: normal;
font-weight: 400;
}
.head2{
color: #0D0A9C;
}
.head3{
padding-top: 80px ;
font-family: 'Averia Libre', cursive;
}
.arrow{
    animation: pulse; 
    animation-duration: 1s; 
    
}
.cat{
    background: url("/static/images/transcircle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
.title{
font-family: 'Averia Libre', cursive;
font-size: 30px;
color: #0D0A9C;
}
.card{
background-color: transparent;
padding: 5px;
}
.btn:hover{
animation: pulse; 
animation-duration: 1s; 
}
.nav2{
    visibility: hidden;
    display: none;
}
img{
    object-fit: contain;
}
.container1{
    margin-top: 60px;
}
@media only screen and (max-width: 767px){
    .nav1{
        visibility: hidden;
		display: none;
    }
    .nav2{
        visibility: visible;
        display: flex;
    }
    .container1{
        margin-top: 30px;
    }
    .head{
        font-size: 40px;
    }
    .pic >img{
        width: 300px;
    }
    .head3{
        visibility: hidden;
        display: none;

}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .nav1{
        visibility: hidden;
		display: none;
    }
    .nav2{
        visibility: visible;
        display: flex;
    }
    .head{
        font-size: 50px;
    }
    .head3{
        visibility: hidden;
        display: none;
    }
    .cat> h4{
        font-size: 18px;
    }
    .pic >img{
        width: 300px;
    }
}